<div class="container text-center">
  <% if @user.errors.any?%>
    <div id= "error_explanation">
      <h2><%= pluralize(@user.errors.count,"error") %> prohibited this <%= user.name%> from being saved:</h2>
      <ul>
        <% @user.errors.full_massages.each do |massage| %>
        <li><%= massage %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <h4>アカウント登録</h4>

  <br>
  <%= form_with(model: @user, local: true) do |f| %>
    <div class="mx-auto" style="width: 500px;"> 
      <%= f.label :ユーザー名 %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control'%>
      <h6>※半角英数字6桁以上でご入力ください</h6>
      <br>
      <%= f.label :パスワード再確認 %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <br>
      <%= f.label :プロフィール画像 %>
      <%= f.file_field :image %>

      <div class="actions mt-5">
        <%= f.submit"アカウント登録", class: 'btn btn-block btn-dark btn-sm' %>
      </div>
      
    </div>
  <% end %>

  <br>
  <%= link_to 'すでにアカウントをお持ちの方はこちら', new_session_path %>

</div>


